./*
synopsys-gbe/*
zarlink_tid/*
pp/*
realtek_switch/*
intel_tid/*
voice/*
linux-3.12.14/*
intel_switch/*
maxlinear_tuner/*
silabs_tid/*
psp/*
system/*
M5T/*
ua_sdk/*
wifi-proxy/*
uimage/*
dspg/*
common/*
il_gwdk/*
sinicnet/*
cable/*
